
section.content > div:target + section,
    /*чтобы при выборе вкладки экран не смещался, добавляем пустой элемент div, и делаем его целью - все равно смещается ((*/
/*section.content > section,*/
/*section.content > div,*/
section.content > div.default:target + section
{
    display: block;
}  /*вторые две строчки - для того, чтобы неактивная вкладка не отображалась и не торчала из под активной, если*/
/*она короче. Решение, вообще-то, для двух вкладок, для трех и более - нужно использовать first child еще*/


section.content > div.default + section
{
    display: none;
}


section.main-section {
    margin-top: 15px;
    margin-left: 265px;
    margin-right: 15px;
}

section.content > ul {
    display: block;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #ffffff;
    margin-top: 15px;
    background-color: #666666;
    min-height: 41px;
}

section.content > ul > li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 12px;
    /*background-color: #666666;*/
}

.created-by-me-tab {
    min-width: 150px;
}

.active.under-my-approval-tab {
    /*padding: 0;*/
    /*size: 188px 41px;*/
    min-width: 188px;
    background-color: #ffffff;
}

section.content > ul > li > a {
    padding: 10px 20px 12px 20px;
    color: #feffff;
    font: 13px Oswald;
    font-weight: 400;
    text-transform: uppercase;
}

.created-by-me-tab .fa.fa-pencil, .under-my-approval-tab .fa.fa-clock-o, .sent-for-group-tab .fa.fa-users {
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px;
}

.sent-for-group-tab .fa.fa-users {
    padding-right: 13px;
}

section.content > ul > li.active.under-my-approval-tab > a {
    color: #666666;
}

.content > section {
    border-left: 2px solid #d3d3d3;
    border-right: 2px solid #d3d3d3;
}