@import url('https://fonts.googleapis.com/css?family=Oswald');

.upper_header {
    background-color: #39c2d7;
    min-height: 29px;
}
.header_sharepoint_icon {
    padding: 2px 7px 2px 22px;
    /*background-color: #39c2d7;*/
    float: left;
}
.header_sharepoint_text {
    font: 12px Oswald;
    color: white;
    /*background-color: #39c2d7;*/
    margin: 0;
    float: left;
    /*min-height: 29px;*/
    padding: 10px 0 7px 0;
}
.upper_header_navigation {
    font: 14px Source Sans Pro;
    /*background-color: #39c2d7;*/
}
.upper_header_user {
    background-color: #eeeeee;
    /*min-height: 29px;*/
    float: right;
}
.fa.fa-caret-down {
    color: #464547;
}
.fa.fa-cog {
    color: #787779;
}
.fa.fa-question-circle {
    color: #787779;
}

.medium_header {
    background-color: #eeeeee;
    min-height: 32px;
}
.medium_header_actions ul > li > a > i,
.medium_header_actions ul > li > a {
    color: #999999;
}

.bottom_header {
    background-color: #464547;
    min-height: 62px;
}
.epam_logo {
    float: left;
    height: 42px;
    width: 87px;
    padding: 10px 22px 10px 20px;
}
.bottom_header_text_odm {
    float: left;
    font: 18px Oswald;
    color: #39c2d7;
    padding: 22px 0;
}

.bottom_header_search_icon {
    float: right;
    padding: 23px 19px 19px 0;
    color: #c6c6c6;
}
.fa.fa-search {
    color: #cccccc;
}

