img, form, a {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    display: block; /* иначе выдается вниз из-за стандартных отступов браузера */
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

/*div {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/